<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.form.min.js"></script>
    <style>
        #optionsText {
            margin-top: 25%;
            color: #11b8ff;
        }

        #leftMenu {
            height: 100vh;
            background-color: #d8d8d8;
            text-align: center;
        }

        .clickable {
            padding: 10px;
        }

        .clickable:hover {
            background-color: #7c7c7c;
        }

        .modal-content {
            width: 200%;
            margin-left: -50% !important;

        }

        #content {
            margin-top: 5%;
            margin-left: auto;
            margin-right: auto;
        }

        #frmUploader {
            margin-top: 1%;
            margin-bottom: 2%;
            margin-right: 15%;
            width: 100%;
        }

        #imgPreviewContent {
            margin-top: 3%;
            text-align: center;
            margin-left: 4%;
        }

        .imgPreview {
            padding: 7px;
            display: inline-block;
        }

        .imgSelected {
            border: 3px solid #11b8ff;
        }

        #backButton {
            margin-top: 5%;
            margin-bottom: -20%;
        }

        .hidden {
            visibility: hidden;
        }

        .shown {
            visibility: visible;
        }
    </style>

</head>

<body>


    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-2" id="leftMenu" style="border-right: 1px solid #11b8ff">
                <div id="backButton">
                    <button onclick="location.href='/';" class="btn btn-default btn-lg">Back</button>
                </div>
                <!-- Button trigger modal -->
                <div id="optionsText">
                    <h2>Options</h2>
                </div>
                <div onclick="showBackgroundOptions()" class="clickable">
                    Background
                </div>
                <div onclick="showSettingsOptions()" class="clickable">
                    Settings
                </div>
                <div onclick="showWidgetOptions()" class="clickable">
                    Widgets
                </div>
            </div>
            <div class="col-sm-10">
                <div class="contentWrapper">
                    <div id="content">
                        <!-- js inserted dynamic content -->
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h3 style="color: #11b8ff">Upload</h3>
                    <br>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <div class="row" style="display:block; border-bottom: 1px solid #11b8ff">

                        <form id="frmUploader" enctype="multipart/form-data" action="/upload" method="post" style="text-align:center">
                            <input type="file" name="imgUploader" multiple />
                            <!-- <input type="submit" name="submit" id="btnSubmit" value="Upload" /> -->
                        </form>
                        <button onclick="uploadImages()">Submit</button>
                    </div>

                    <div class="row" id="imgPreviewContent">
                        <% for(var i=0; i< data.length; i++){ %>
                            <div class="imgPreview">
                                <img src="images/<%= data[i] %>" id="<%= i %>" width="164" height="100" alt="img" onclick="select('images/<%= data[i] %>', this.id)"
                                />
                            </div>
                            <% } %>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer" style="text-align:right">
                    <button id="removeButton" class="btn btn-secondary hidden" onclick="removeSelectedImages()">Remove Selected</button>
                    <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <script>

        function uploadImages() {
            $('#frmUploader').submit(function (e) {
                console.log(e);
            });
        }


        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        });

        function showBackgroundOptions() {
            document.getElementById("content").innerHTML = " <p style=\"display: inline-block\">Transition time:&nbsp;</p><select id=\"timer\" onchange=\"setTimer()\"><option value=\"1\">1s</option><option value=\"2\">2s</option><option value=\"5\">5s</option><option value=\"10\">10s</option><option value=\"15\">15s</option><option value=\"20\">20s</option><option value=\"30\">30s</option><option value=\"60\">60s</option><option value=\"120\">2min</option><option value=\"300\">5min</option><option value=\"600\">10min</option><option value=\"1800\">30min</option></select><br><button type=\"button\" class=\"btn btn-primary\" data-toggle=\"modal\" data-target=\"#myModal\">My pictures / Upload pictures</button>";
        }

        function showSettingsOptions() {
            document.getElementById("content").innerHTML = "<h1>Settings</h1>";
        }

        function showWidgetOptions() {
            document.getElementById("content").innerHTML = "<h1>Widget Options</h1>";
        }

        $(document).ready(function () {
            showBackgroundOptions();
            var time = <%= config.timer %>;
            time = (time / 1000);
            document.getElementById("timer").value = time;

        });

        function setTimer() {
            var e = document.getElementById("timer");
            var time = e.options[e.selectedIndex].value * 1000; //convert to ms
            var json = { "timer": time }
            $.ajax({
                url: '/timer',
                type: 'POST',
                data: json
            });
        }

        var selected = [];

        function select(src, id) {
            var element = $("#" + id);
            console.log(element);
            if ($.inArray(src, selected) === -1) {
                selected.push(src);
                element.addClass("imgSelected");
                if (selected.length > 0) {
                    $('#removeButton').removeClass("hidden");
                    $('#removeButton').addClass("shown");
                }
            } else {
                var index = selected.indexOf(src);
                selected.splice(index, 1)
                element.removeClass("imgSelected");
                if (selected.length <= 0) {
                    $('#removeButton').removeClass("shown");
                    $('#removeButton').addClass("hidden");
                }
            }
        }

        function removeSelectedImages() {
            $.ajax({
                url: '/remove',
                type: 'POST',
                data: { selected: selected },
                success: function (data) {
                    selected = [];
                    $("#imgPreviewContent").html(" ");
                    var html = "";
                    for (var i = 0; i < data.data.length; i++) {
                        html += "<div class=\"imgPreview\"><img src=\"images/" + data.data[i] + "\" id=\"" + i + "\" width=\"164\" height=\"100\" alt=\"img\" onclick=\"select('images/" + data.data[i] + "', this.id)\" /> <\/div>";
                    }
                    $("#imgPreviewContent").html(html)
                }
            });
        }

    </script>

</body>

</html>